body {
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAADFJREFUKFNjZCASMBKpjgGu8MGDB/9BmhQUFLBqJt1EQk7AayLIOTCnUEchsnOI9gwA3P8MCkfAMG8AAAAASUVORK5CYII=
   ) repeat 0 0;
    font-family: 'Teko', sans-serif;
    font-size: 1.25rem;
}

h1 {
  color: #bd1f4d;
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  line-height: .5rem;
}



h3 {
  color: black;
  font-size: x-large;
  text-transform: uppercase;
  font-size: 2rem;
    text-shadow: .5px .5px #fff;
}

h4 {
  font-size: large;
  text-transform: uppercase;
  font-size: 3rem;
  color: #bd1f4d;
  text-shadow: .5px .5px black;
  filter: hue-rotate(0);
}

h5 {
  font-size: medium;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: gray;
  text-shadow: .5px .5px black;
}

p {
  line-height: 150%;
  text-align: justify;
  color: black;
  font-family: 'Raleway', sans-serif;

}

li {
  line-height: 150%;
  text-align: justify;
  color: black;
  font-family: 'Raleway', sans-serif;

}

a {
  color: dimgrey;
  filter: hue-rotate(0);
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.back-button {
  position: sticky;
  top: 88%;
  left: 87.5%;
  text-align: right;
  width: fit-content;
  width: -moz-fit-content;
  background-color: white;
  padding: 5px;
  border: 2px solid #ccc;
  z-index: 10;
  text-decoration: none;
}

.back-button a{
  text-decoration: none;
}

.logo img {
  height: 150px;
  width: auto;
}

.topnav {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 40px 40px;
  position: relative;
  text-align: right;
 
}

.topnav a {
  color: black;
  padding-left: 30px;
}

.navfloat1 {
  flex: 25%;
}

.navfloat2 {
  flex: 75%;
  line-height: 150px;
  font-size: 1.75rem;
  z-index: 10;
}

.navfloat2 a{
    text-decoration: none;
    /*color: #b4dab2;*/
    color: #b83b5e;
    border: 2px solid #333;
    padding: 8px 20px;
    background-color: #fff;
    transition: all .5s ease-in-out; 
    filter: brightness(200%);
    filter: saturate(200%);
}

.navfloat2 a:hover{
    color: #000;
}

main {
  margin: auto;
  max-width: 1000px;
  padding: 40px;
  position: relative;
  width: 80%;
}

section {
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 1;
}

#about{
    padding-top: 70px;
}

#title{
  padding-top: 0px;
  margin-top: -200px;
}

#keynote{
    display: flex;
    flex-direction: row;
    height: 600px;
}

#keynote-text-1{
    margin: 0px;
    height: auto;
    flex: 60%;
}

#keynote-image-1{
    margin: 40px 55px 15px 0px;
    height: auto;
    flex: 35%;
    filter: drop-shadow(10px 10px 0px #333);
}

#keynote img{
    width: 100%;
    z-index: 2;
    
}

#sphere-logo{
    width: 100%;
    height: 600px;
    transition: all .5s ease-in-out; 
    z-index: 0;
}

#sphere-logo img{
    width: 100%;
    z-index: 0;
}

#sphere-logo:hover{
    transform: scale(1.04); 
    z-index: 1;
}

#sphere-logo h2{
    margin-top: -400px;
    color: black;
    font-size: 2.5em;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
    z-index: 10;
}

#partner-logo-container{
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}

.partner-logo img{
    width: 250px;
    height: auto;
    margin: 15px;
}


#travel-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.travel-mode{
    width: 30%;
    height: auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.travel-mode img{
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin: 20px auto 0 auto;
}
.smaller img{
    width: 30%;
    height: auto;
}

.footnav {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  position: relative;
}

.footnav p {
  text-align: right;
}

.footfloat1 {
  flex: auto;
}

.footfloat2 {
  color: dimgrey;
  flex: auto;
  font-size: small;
  font-style: italic;
}

/*Responsive*/
@media (max-width: 1200px) {
    .logo img {
        height: auto;
        width: 100%;
    }
    
    #keynote{
        flex-direction: column;
        height: auto;
    }
    header {
        position: static;
        top: 0;
        z-index: 10;
    }
    
    #sphere-logo{
        height: auto;
    }

    #keynote-text-1{
        margin: 0px;
        height: auto;
    }

    #keynote-image-1{
        margin: 0px;
        width: 100%;
    }

    .topnav {
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        padding: 5px 5px 40px;
        text-align: center;
    }

    .topnav a {
        width: 100%;
    }

    .navfloat1 {
        flex: 100%;
        padding-bottom: 40px;
    }

    .navfloat2 {
        flex: 100%;
        line-height: 200%;
    }
    
    .navfloat2 a{
        padding: 0;
        margin: 2px 0px; 
        display: inline-block;

    }
    main {
        padding: 5%;
        width: 90%;
    }
    #title{
        padding-top: 20px;
        margin-top: -100px;
    }
    #sphere-logo h2{
        margin-top: -50px;
        font-size: 1.5em;
    }
    #about{
        padding-top: 20px;
    }
    
    .travel-mode{
        width: 100%;
        height: auto;
        padding: 0px 0px;
        text-align: center;
    }

    .travel-mode img{
        width: 30%;
        height: auto;
        margin-top: 0px;
        margin: 0px auto 0 auto;
    }
    .smaller img{
        width: 20%;
        height: auto;
    }

    .footfloat1, .footfloat2 {
        flex: 100%;
    }
}
