body {
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAADFJREFUKFNjZCASMBKpjgGu8MGDB/9BmhQUFLBqJt1EQk7AayLIOTCnUEchsnOI9gwA3P8MCkfAMG8AAAAASUVORK5CYII=
   ) repeat 0 0;
    /*background-image: linear-gradient(140deg, #231f4c 0%, #1c11f2 50%, #86234b 75%);*/
   /* background-color: #75c592;*/
   /* background-image: linear-gradient(140deg, #75c592 0%, #b4dbb1 50%, #b5dcb0 75%);*/
    background-image: linear-gradient(140deg, #000 0%, #231e4c 18%, #060225 50%, #4436bb 90%, #000 100%);
    font-family: 'Teko', sans-serif;
    font-size: 1.25rem;
}

h1 {
  color: #bd1f4d;
  font-size: 4rem;
  font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    line-height: .5rem;
}

h2 {
  color: white;
  font-size: xx-large;
  font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    text-align: center;
    z-index: 0;
}

h3 {
  /*color: dimgrey;*/
  color: #b4dab2;
  font-size: x-large;
  text-transform: uppercase;
  font-size: 2rem;
}

h4 {
  font-size: large;
  text-transform: uppercase;
    font-size: 3rem;
    color: #bd1f4d;
}

p {
  line-height: 150%;
  text-align: justify;
  color: white;
  font-family: 'Montserrat', sans-serif;

}

a {
  color: dimgrey;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.back-button {
  position: sticky;
  top: 90%;
  left: 87.5%;
  text-align: right;
  width: fit-content;
  background-color: white;
  z-index: 1;
}

.logo img {
  height: 150px;
  width: auto;
}

.topnav {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 40px 40px;
  position: relative;
  text-align: right;
 
}

.topnav a {
  color: white;
  padding-left: 30px;
}

.navfloat1 {
  flex: 25%;
}

.navfloat2 {
  flex: 75%;
  line-height: 150px;
  font-size: 1.75rem;
  z-index: 10;
}

.navfloat2 a{
    text-decoration: none;
    color: #b4dab2;
    border: 1px solid #b4dab2;
    padding: 8px 20px;
    background-color: #13112a;
    transition: all .5s ease-in-out; 
}

.navfloat2 a:hover{
    color: #bd1f4d;
}

main {
  margin: auto;
  max-width: 1000px;
  padding: 40px;
  position: relative;
  width: 80%;
}

section {
  padding-bottom: 20px;
  padding-top: 20px;
    z-index: 1;
}

#keynote{
    display: flex;
    flex-direction: row;
    height: 600px;
}

#keynote-text-1{
    margin: 0px;
    height: auto;
    flex: 60%;
}

#keynote-image-1{
    margin: 40px 55px 15px 0px;
    height: auto;
    flex: 35%;
}

#keynote img{
    width: 100%;
    z-index: 2;
}

#sphere-logo{
    width: 100%;
    height: 600px;
    transition: all .5s ease-in-out; 
    z-index: 1;
}
#sphere-logo img{
    width: 100%;
    z-index: 1;
}

#sphere-logo:hover{
    transform: scale(1.04); 
}



.footnav {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  position: relative;
}

.footnav p {
  text-align: right;
}

.footfloat1 {
  flex: auto;
}

.footfloat2 {
  color: dimgrey;
  flex: auto;
  font-size: small;
  font-style: italic;
}

/*Responsive*/
@media (max-width: 1200px) {
  .logo img {
    height: auto;
    width: 100%;
  }
    
    #keynote{
    flex-direction: column;
    height: auto;
}
header {
    position: static;
    top: 0;
    z-index: 10;
}
    
#sphere-logo{
    height: auto;
}
 
#keynote-text-1{
    margin: 0px;
    height: auto;
}

#keynote-image-1{
    margin: 0px;
    width: 100%;
}

  .topnav {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 5px 5px 40px;
    text-align: center;
    
  }

  .topnav a {
    width: 100%;
  }

  .navfloat1 {
    flex: 100%;
    padding-bottom: 40px;
  }

  .navfloat2 {
    flex: 100%;
    line-height: 200%;
  }
    
  .navfloat2 a{
    padding: 0;
    margin: 2px 0px; 
    display: inline-block;

  }

  main {
    padding: 5%;
    width: 90%;
  }

  .footfloat1, .footfloat2 {
    flex: 100%;
  }
}
